.post{
    position: relative;
    margin: 20px;
    margin-bottom: 60px;
    max-width: 600px;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    padding: 20px;
    font-family: 'Helvetica';
}

.post img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
}

.post h3{
    font-family: 'Arial';
    font-size: 24px;
}

.post p{
    font-size: 0.9em;
}

.post i{
    display: inline;
    font-size: 1.3em;
    margin-left: 20px;
    cursor: pointer;
    color: gray;
}

.post .fa-trash-alt:hover{
    color: red;
}

.post .fa-edit:hover{
    color: silver;
}

.post h3:hover, .post p:hover{
    cursor: pointer;
    text-decoration: underline;
}

.content{
    overflow-wrap: break-word;
}

.post .fa-heart{
    font-size: 10px;
    color: white;
    background: black;
    padding: 5px;
    cursor: pointer;
}

.post .fa-heart:hover{
    color: red;
}

.post span{
    position: relative;
    top: 2px;
    font-size: 13px;
    font-family: 'Arial';
    cursor: pointer;
}

.post span:hover{
    color: gray;
}

.post .commentSection{
    position: absolute;
    left: 0;
    margin: 20px 0;
    width: 100%;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    padding: 7px;
    background: lightblue;
    color: blue;
    font-family: 'Trebuchet MS';
    cursor: pointer;
}

.post .commentSection:hover{
    color: gray;
}