.post{
    margin: 20px;
    max-width: 600px;
    padding: 20px;
    font-family: 'Helvetica';
    padding-bottom: 30px;
}

.post img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
}

.post h3{
    font-family: 'Arial';
    font-size: 24px;
}

.post p{
    font-size: 0.9em;
}

.post i{
    display: inline;
    font-size: 1.3em;
    margin-left: 20px;
    cursor: pointer;
    color: gray;
}

.post .fa-trash-alt:hover{
    color: red;
}

.post .fa-edit:hover{
    color: silver;
}

.post h3:hover, .post p:hover{
    cursor: pointer;
    text-decoration: underline;
}

.content{
    overflow-wrap: break-word;
}

.post .fa-heart{
    font-size: 10px;
    color: white;
    background: black;
    padding: 5px;
    cursor: pointer;
}

.post span{
    position: relative;
    top: 2px;
    font-size: 15px;
    font-family: 'Arial';
    cursor: pointer;
}

.post span:hover{
    color: gray;
}