.profile{
    margin: 20px 0;
    font-family: 'Nunito Sans';
}

.profile .profile-content{
    padding: 20px;
    background: #fff;
    min-height: 460px;
    overflow: auto;
}

.profile .noposts,
.profile .createpost h2{
    color: gray;
}

.profile .post{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: solid black 1px;
}