.messages .container-fluid{
    padding: 0;
}

.search-contacts input{
    width: 100%;
    padding: 7px;
    font-family: 'Tahoma';
}

.search-contacts input:focus{
    outline: none;
    border: 2px lightblue solid;
}

.messages .card-list{
    height: 100vh;
    overflow-y: auto;
}

.msg-card{
    font-family: 'Helvetica';
    padding: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 0.9rem;
    background: lightgray;
    color: gray;
    border-radius: 0;
}

.msg-card.active,
.msg-card.active .card-header{
    background: white;
}


.msg-card .card-header{
    margin: auto;
    background: lightgray;
}

.msg-card .card-block{
    display: none;
}

.msg-card img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.convo{
    height: 100vh;
    background: #f1f0e8;
    font-family: 'Helvetica';
}

.convo .chat-info{
    width: 100%;
    background: #036055;
    height: 60px;
    padding: 0 10px;
}

.convo .chat-pic{
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    margin: auto 32px;
    margin-bottom: 13px;
}

.convo .chat-info h2{
    display: inline-block;
    line-height: 60px;
    vertical-align: bottom;
    color: #fff;
    font-size: 20px;
}

@media screen and (min-width:768px){
    .msg-card .card-header{
        margin: revert;
    }

    .msg-card .card-block{
        display: block;
    }
}