.messages .container-fluid{
    padding: 0;
}

.search-contacts input{
    width: 100%;
    padding: 7px;
    font-family: 'Tahoma';
}

.search-contacts input:focus{
    outline: none;
    border: 2px lightblue solid;
}

.messages .card-list{
    height: 100vh;
    overflow-y: auto;
}

.msg-card{
    font-family: 'Helvetica';
    padding: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 0.9rem;
    background: lightgray;
    color: gray;
    border-radius: 0;
}

.msg-card.active,
.msg-card.active .card-header{
    background: white;
}


.msg-card .card-header{
    margin: auto;
    background: lightgray;
}

.msg-card .card-block{
    display: none;
}

.msg-card img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.convo{
    height: 100vh;
    background: #f1f0e8;
    font-family: 'Helvetica';
}

.convo .chat-info{
    display: flex;
    width: 100%;
    background: #036055;
    height: 60px;
    padding: 0 10px;
}

.convo .chat-pic{
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    margin: auto 32px;
}

.convo .chat-info h2{
    display: inline-block;
    line-height: 60px;
    vertical-align: bottom;
    color: #fff;
    font-size: 20px;
}

.convo .chat-box{
    padding: 20px;
}

.convo .msg-container{
    display: flex;
    width: 100%;
}

.convo .msg-container img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-top: 15px;
}

.convo .msg{
    max-width: 400px;
    padding: 1rem 1.4rem;
    border-radius: 0.9rem;
    font-size: 15px;
    width: auto;
}

.convo .read{
    float: right;
    color: darkblue;
}

.convo .fa-check{
    float: right;
    color: darkblue;
    margin-left: 5px;
}

.convo .msg.msg-r{
    background: #E2FFC7;
    margin-left: auto;
    margin-right: 2rem;
}

.convo .msg.msg-l{
    background: lightgray;
    margin-left: 2rem;
    margin-right: auto;
}


@media screen and (min-width:768px){
    .msg-card .card-header{
        margin: revert;
    }

    .msg-card .card-block{
        display: block;
    }
}