.settings{
    background: #fff;
    max-width: 800px;
    font-family: 'Arial';
    margin: 50px auto;
    padding: 20px;
}

.settings .fa-cog, .settings span{
    color: gray;
}

.settings .fa-cog{
   font-size: 3rem;
}

.settings span{
    font-size: 2.5rem;
    position: relative;
    bottom: 3px;
}

.settings form, .settings .del-container{
    max-width: 400px;
    border: solid black 1px;
    margin: 30px auto;
    padding: 15px;
}

.settings input, .settings button{
    width: 100%;
}

.settings input{
    padding: 6px;
}

.settings button:focus{
    outline: none;
    box-shadow: none;
}