.profile .friends-container{
    background: #313131;
}

.profile .nofriends, .profile .bio h1{
    max-width: 600px;
    color:gray;
    font-family: 'Nunito Sans';
    margin: 60px auto;
}

.profile .bio h1{
    text-align: center;
}

.profile .bio p{
    text-align: center;
    font-size: 2rem;
}

.profile .bio .btn-primary{
    margin-top: 4rem;
}