.likes .fa-heart{
    font-size: 10px;
    color: white;
    background: black;
    padding: 5px;
    cursor: pointer;
}

.likes .fa-heart:hover{
    color: red;
}

.likes .modal{
    margin: auto;
}

.likes .modal-header{
    font-family: 'Helvetica';
}

.likes .modal-body{
    max-height: 400px;
    overflow: auto;
}

.likes .close:hover span{
    color: revert;
}

.likes .close span:hover{
    color: black;
}

.likes .modal button:focus{
    outline: none;
    box-shadow: none;
}

.likes .modal button span{
    position: relative;
    top: 2px;
    font-size: 30px;
}

.likes .user-like{
    padding: 10px;
    margin: 10px;
    border-bottom: solid silver 1px;
}

.likes .user-like:last-child{
    border-bottom: none;
}

.likes .user-like img{
    width: 70px;
    height: 70px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.likes .user-like h4{
    display: inline-block;
    cursor: pointer;
}

.likes .user-like h4:hover{
    text-decoration: underline;
}