.navbar-container{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

nav{
    background: #6262b4;
}

nav .navbar-brand{
    font-size: 30px;
    color: #E8E8E8;
    font-family: 'Nunito';
}

nav .navbar-toggler-icon{
    background-image: url('https://mdbootstrap.com/img/svg/hamburger1.svg?color=fff');
}

nav .navbar-toggler:focus,
nav .navbar-toggler:active,
nav .navbar-toggler-icon:focus{
    outline: none;
    box-shadow: none;
}

nav ul{
    margin: 20px auto;
}

nav .link:last-child{
    border: none;
}

nav .link{
    width: 100%;
    position: relative;
    font-family: 'Arial';
    color: lightgray;
    font-size: 1.0rem;
    border-bottom: solid silver 1px;
    padding: 12px;
}

nav .link:hover{
    text-decoration: none;
    color: white;
}

nav .btn-circle{
    display: none;
    color: white;
    background: #EC407A;
    border-radius: 50%;
    text-align: center;
    position: relative;
    bottom:3px;
}

nav .btn-circle:focus{
    box-shadow: none;
    outline: none;
}

nav form{
    max-width: 400px;
    margin: 20px auto;
    font-family: 'Helvetica';
}

nav .count-box{
    position: absolute;
    margin: auto;
    background: orangered;
    font-size: 0.9rem;
    text-align: center;
    padding: 3px 10px;
    border-radius: 10%;
    left: 90%;
    top: 15%;
}

@media screen and (min-width: 768px){
    nav ul{
        margin: 0;
    }

    nav .link{
        font-size: 1.3rem;
        border: none;
    }

    nav .btn-circle{
        display: inline-block;
    }

    nav .fa-address-card{
        display: none;
    }

    nav form{
        position: relative;
        width: 110%;
        margin: 5px 20px;
    }

    nav .title{
        display: none;
    }

    nav .count-box{
        padding: 2px 7px;
        left: 50%;
        top: -5%
    }
}

@media screen and (min-width:1000px){
    nav .link{
        margin: 0 2px;
        font-size: 1.5rem;
    }
}