.toast-notif{
    font-family: 'Nunito Sans';
    color: #e8e8e8;
}

.toast-notif img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.Toastify__toast-container button:focus{
    outline: none;
    box-shadow: none;
}

.notifications .notif-container:last-child{
    margin-bottom: 50px;
}

.notifications .no-notifs{
    color: lightgray;
    font-family: 'Nunito Sans';
}

.notifications .notif-card{
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #313131;
    font-family: 'Tahoma';
    cursor: pointer;
}

.notifications .notif-card:hover{
    box-shadow: 0 0 5px #e8e8e8;
}

.notifications .notif-card p{
    font-family: 'Nunito Sans';
    font-size: 1.5rem;
    color: #e8e8e8;
}

.notifications .notif-card .notif-date{
    font-family: 'Nunito Sans';
    font-size: 1.0rem;
    color: silver;
}

.notifications .notif-card img{
    cursor: pointer;
    width: 8rem;
    height: 8rem;
}

.notifications .notif-card .heart{
    position: relative;
    top: 3px;
    font-size: 1.8rem;
}

.notifications .notif-card .fa-comment-alt{
    color: #09ad09;
    position: relative;
    top: 5px;
    font-size: 1.5rem;
}