.comments .fa-comment-alt{
    position: relative;
    top: 5px;
 }
 
 .comments .fa-comment-alt:hover{
     color:brown;
 }

.comments .modal-header{
    font-family: 'Helvetica';
}

.comments .close:hover span{
    color: revert;
}

.comments .close span:hover{
    color: black;
}

.comments .modal button:focus{
    outline: none;
    box-shadow: none;
}

.comments .modal button span{
    position: relative;
    top: 2px;
    font-size: 30px;
}

.comments .modal-body{
    position: relative;
}

.comments .modal-body .comments-container{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
}

.comments .modal-body .no-comments{
    font-family: 'Nunito';
    text-align: center;
}

.comments .modal-body .comment-form{
    position: absolute;
    width: 100%;
    top: 100%;
    left: 3px;
    margin-top: 30px;
}

.comments .modal-body textarea{
    resize: none;
    width: 100%;
    height: 45px;
    border: 2px solid black;
    font-size: 1.0rem;
    border-radius: 4px;
    overflow: hidden;
    font-family: 'Tahoma';
}

.comments .modal-body textarea:focus{
    border: 2px solid lightblue;
    outline: none;
}

.comments .user-comment{
    border: gray solid 1px;
    padding: 10px;
}

.comments .user-comment img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.comments .user-comment h5{
    font-size: 0.9rem;
    cursor: pointer;
}

.comments .user-comment p{
    font-size: 0.8rem;
}

.comments .user-comment h5:hover{
    text-decoration: underline;
}

.comments .user-comment .user-content{
    padding: 15px 10px;
    margin-left: 10px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    font-size: 0.9rem;
}

.comment-settings{
    position: relative;
    text-align: right;
}

.comment-settings .fa-ellipsis-h{
    color: #979797;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
}

.comment-settings .fa-ellipsis-h:hover{
    color: black;
}

.comment-settings .dropdown-content{
    display: none;
    position: absolute;
    right: -7px;
    text-align: center;
    background: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 0 5px black;
    cursor: pointer;
    z-index: 1;
}

.comment-settings .option{
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.7rem;
}

.comment-settings .option .fa-trash-alt,
.comment-settings .option .fa-edit{
    position: absolute; 
    top: 10px;
    left: 0;
}

.comment-settings .option span{
    position: relative;
    left: 15px;
}

.comment-settings .option:hover,
.comment-settings .option:hover span,
.comment-settings .option:hover .fa-trash-alt,
.comment-settings .option:hover .fa-edit{
    background: darkblue;
    color: white;
}

.comment-settings:hover .dropdown-content{
    display: block;
}