.user-card{
    padding: 0;
    margin: 10px;
    font-family: 'Helvetica';
    border:none;
}

.user-card img{
    max-height: 190px;
}

.user-card h5{
    cursor: pointer;
}

.user-card h5:hover{
    text-decoration: underline;
}

.user-card .card-footer{
    cursor: pointer;
}

.user-card .card-footer:hover{
    background: lightgray;
}